h1{
    margin: 0;
    text-align: center;
    font-family: 'Sacramento', cursive;
    font-size: 5.62rem;
    margin: 50px auto 0px auto; 
    color:#66BFBF;
    line-height: 2;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color:#66BFBF;
    font-weight: normal;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color:#11999E;
}
a {
    color: #11999E;
}
body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.top-container{
    padding-top: 50px;
    background-color: #ECF9FF;
}
hr{
    border-style: dotted;
    border-color: #EAF6F5;
    border-width: 6px;
    width: 4%;
    border-bottom: None;
    margin: 100px auto;
}

p {
    color: #40514E;
}

.profile{
    width: 50%;
    margin: 50px auto;
    line-height: 2;
}
.profile-picture{ 
    border-radius: 100%;
    height: 200px;
}

.top-cloud{
    position:relative;
    left: 400px;
    top:50px
}

.bottom-cloud{
    position:relative;
    bottom: 200px;
}

.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.skill-image{
    height: 25%;
    float: left;
    margin-right: 30px;
}

.skill-image-2{
    height: 25%;
    width:25%;
    float: right;
    margin-left: 30px;
}

.contact-me{
    margin: 100px auto;
    width: 50%;
    line-height: 2;
}

.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: linear-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30ECDE;
    background-image: -webkit-linear-gradient(top, #30ECDE, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30ECDE, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30ECDE, #2BC4AD);
    background-image: -o-linear-gradient(top, #30ECDE, #2BC4AD);
    background-image: linear-gradient(to bottom, #30ECDE, #2BC4AD);
    text-decoration: none;
  }

.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 50px 0;
}

a {
    color: #11999E;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: None;
}
a:hover{
    color:#EAF6F6;
}

.copyright{
    font-size: 0.7rem;
    color: #EAF6F6;
    padding: 20px 0;
}