body {
    background-color: #05445E;
    text-align: center;
    font-family: 'VT323', monospace;
    color: #EFE7BC;
}

h1 {
    font-size: 7rem;   
}

p {
    font-size: 3rem; 
}

button {
    height: 15rem;
    width: 15rem;
    border: 10px solid black;
    border-radius: 30%;
    margin: 1rem;
    display: inline-block;
}
.col {
    text-align: right;
}

.col2 {
    text-align: left;
}


#red {
    background-color: red;
}

#green {
    background-color: green;
}

#yellow {
    background-color: yellow;
}

#blue {
    background-color: blue;
}

.btn-highlight {
    opacity: 30%;
}

.hidden {
    visibility: hidden;
}